@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-Orange: hsl(26, 100%, 55%);
  --color-Pale-orange: hsl(25, 100%, 94%);
  --color-Very-dark-blue: hsl(220, 13%, 13%);
  --color-Dark-grayish-blue: hsl(219, 9%, 45%);
  --color-Grayish-blue: hsl(220, 14%, 75%);
  --color-Light-grayish-blue: hsl(223, 64%, 98%);
  --color-White: hsl(0, 0%, 100%);
  --color-Black: hsl(0, 0%, 0%);
  /* --font-kumbh: "Kumbh Sans", sans-serif; */
  --default-font-family: "Kumbh Sans", sans-serif;
}
